<html lang="en">

<head>
   <style>
       @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
       body {
           margin: 0;
       }

   </style>
</head>

<body>
    {% if brokerage_name or brokerage_lic or brokerage_image %}
      <div class="slider-main" style="background: url({{image_url}});width: 100%; height: 100%;  min-height:700px;  background-size: cover; background-repeat: no-repeat; background-position: center center;">
         <div style="position: absolute;top: 50%; left:50%; margin-top: -140px; margin-left: -477px;">
           <div style="display: table;">
               <div style=" width: 450px; display: table-cell; height: auto; background-color: rgba(0, 0, 0, 0.62); right: 25px; padding: 20px; border-radius: 2px; text-align: center; position: relative;">
                   <img src="{{brokerage_image}}" style="position: absolute;top: -75px; width: 175px; right: 0; left: 0; margin: 0 auto; height:175px;">
                   <h2 style="color: #fff; font-family: roboto; padding-bottom: 16px; font-weight: 500; padding-top: 80px; min-height: 120px;">
                    {% if brokerage_name %}
                       <p style="margin: 10px 0 5px;">{{brokerage_name}} </p>
                    {% endif %}
                    {% if brokerage_lic %}
                       <p style="margin: 10px 0; 5px"><span>LIC# </span> {{brokerage_lic}}</p>
                    {% endif %}
                    {% if brokerage_street1 %}
                       <p style="margin: 10px 0; 5px">{{brokerage_street1}}</p>
                    {% endif %}
                    {% if brokerage_street2 %}
                       <p style="margin: 10px 0; 5px">{{brokerage_street2}}</p>
                    {% endif %}
                    {% if brokerage_city_state_zip %}
                       <p style="margin: 10px 0; 5px">{{brokerage_city_state_zip}}</p>
                    {% endif %}
                   </h2>
               </div>
               <div style="width: 450px; display: table-cell; height: auto; background-color: rgba(0, 0, 0, 0.62); padding: 20px; border-radius: 2px; text-align: center; position: relative;">
                   <img src="{{agent_image}}" style="position: absolute; top: -75px; width: 175px; right: 0; left: 0; margin: 0 auto; height:175px;">
                    <h2 style="color: #fff; font-family: roboto; padding-bottom: 16px; font-weight: 500; padding-top: 80px; min-height: 120px;">
                      {% if agent_name %}
                        <p style="margin: 10px 0 5px;">{{agent_name}}</p>
                      {% endif %}
                      {% if agent_lic %}
                        <p style="margin: 10px 0 5px;"><span>LIC# </span> {{agent_lic}}</p>
                      {% endif %}
                      {% if agent_mobile %}
                        <p style="margin: 10px 0 5px;">{{agent_mobile}}</p>
                      {% endif %}
                      {% if agent_email %}
                        <p style="margin: 10px 0 5px;">{{agent_email}}</p>
                      {% endif %}
                    </h2>
               </div>
           </div>
         </div>
      </div>
    {% else %}
      <div class="slider-main" style="background: url({{image_url}});width: 100%; height: 100%;  min-height:700px;  background-size: cover; background-repeat: no-repeat; background-position: center center;">
        <div style="max-width: 500px; max-height: 300px;background-color: rgba(0, 0, 0, 0.62);position: absolute;top:0;bottom: 0;left: 0;right: 0;text-align: center;margin: auto; padding: 20px; box-sizing: border-box; border-radius: 2px;">
            <img src="{{agent_image}}" style="position: absolute;top: -75px;width: 175px;right: 0;left: 0;margin: 0 auto; height:175px;">
            <h2 style="color: #fff;font-family: roboto;padding-bottom: 16px;font-weight: 500;padding-top: 80px; min-height: 120px;">
              {% if agent_name %}
                <p style="margin: 10px 0 5px;">{{agent_name}}</p>
              {% endif %}
              {% if agent_lic %}
                <p style="margin: 10px 0 5px;"><span>LIC# </span> {{agent_lic}}</p>
              {% endif %}
              {% if agent_mobile %}
                <p style="margin: 10px 0 5px;">{{agent_mobile}}</p>
              {% endif %}
              {% if agent_email %}
                <p style="margin: 10px 0 5px;">{{agent_email}}</p>
              {% endif %}
            </h2>
        </div>
      </div>
    {% endif %}
</body>
</html>
