<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
        body{
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="slider-main" style="background: url({{image_url}}); width: 100%; height: 100%; min-height:700px; background-size: cover; background-repeat: no-repeat; background-position: center center">
        <div style="max-width: 500px;	max-height: 215px;	background-color: rgba(0, 0, 0, 0.62); position: absolute; top:0;	bottom: 0; left: 0; right: 0; text-align: center; margin: auto; padding: 20px; box-sizing: border-box; border-radius: 2px;">
            <h2 style="color: #fff; font-family: roboto; border-bottom: 1px solid #fff; padding-bottom: 14px; font-weight: 500;">
               <p style="margin: 10px 0;">{{property_name}}</p>
               <p style="margin: 10px 0;">{{street2}}</p>
               <p style="margin: 10px 0;">{{full_address}}</p>
            </h2>
        </div>
    </div>
</body>
</html>
